# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Dataset
data/raw/
data/processed/

# Models
# Los modelos entrenados se incluyen para poder ejecutar la aplicación
models/*.h5
models/*.pkl

# Environment variables
.env

# IDE
.vscode/
.idea/